<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <div id="checkinRecord">
      签到记录：
      <ol>
        <li v-for="(studentId, index) in checkinList" :key="index">
          {{ studentId }}
        </li>
      </ol>
    </div>
  </div>
</template>

<script>
import stomp from '@stomp/stompjs'

export default {
  name: 'App',
  data () {
    return {
      wsClient: undefined,
      subscription: undefined,
      headers: {
        userId: '123',
        token: 'qwerty'
      },
      wsTopic: '/topic/teacher/',
      userId: '123',
      checkinList: []
    }
  },
  mounted () {
    this.websocket()
  },
  beforeDestroy () {
    this.closeWebsocket()
  },
  methods: {
    async websocket () {
      const url = 'ws://127.0.0.1:8080/ws/websocket'
      this.wsClient = stomp.client(url)
      // 设置意外断开后，自动重连的时间(单位: 毫秒)
      this.wsClient.reconnect_delay = 5000
      this.wsClient.debug = function (debug) {
        // 调试信息，需要的话可以打出来
        // console.log(debug)
      }
      // 需要身份验证的话可以在header中发送token，在后端验证
      this.wsClient.connect(this.headers, this.connectCallback, this.errorCallback)
    },
    connectCallback () {
      // 连接成功的回调
      console.log('连接成功！')
      const destination = this.wsTopic + this.userId
      this.subscription = this.wsClient.subscribe(destination, this.receiveCallback, this.headers)
    },
    errorCallback () {
      // 连接失败的回调
      console.log('连接失败！')
    },
    receiveCallback (message) {
      // 收到消息的回调
      if (message.body) {
        console.log('新消息：' + message.body)
        const record = JSON.parse(message.body)
        this.checkinList.push(record.studentId)
      } else {
        console.log('收到空白消息')
      }
    },
    async closeWebsocket () {
      await this.subscription.unsubscribe()
      this.wsClient.disconnect(function () {
        console.log('连接已断开')
      })
    }
  }
}
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  #checkinRecord {
    text-align: left
  }
</style>
